# =========================================
# PYTHON
# =========================================

.venv/
__pycache__/
*.py[cod]
*.pyo
.pytest_cache/
.mypy_cache/


# =========================================
# ENVIRONMENT VARIABLES / SECRETS
# =========================================

.env
.env.*
!.env.example


# =========================================
# GENERATED AI DATA
# =========================================

downloades/
vector_db/


# =========================================
# NODE / EXPRESS
# =========================================

server/node_modules/
server/*.log


# =========================================
# REACT / VITE
# =========================================

client/node_modules/
client/dist/


# =========================================
# IDE
# =========================================

.vscode/
.idea/


# =========================================
# OS
# =========================================

.DS_Store


# =========================================
# LOGS
# =========================================

*.log